@font-face {
    font-family: EBGaramond-Bold;
    src: url('../fonts/EBGaramond-Bold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: EBGaramond-Bold, serif;
}

.text-wrp {
    width: 900px;
    height: 600px;
    background-image: url("../img/bgi.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: flex-end;
}

.text-box {
    max-width: 350px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    padding: 0;
    margin: 55px 57px 0 0;
}

.text-create-wrp {
    width: 250px;
    height: 196px;
    background-image: url("../img/create-btn.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    margin: 161px 128px 0 0;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-create-btn {
    cursor: pointer;
    color: #6b0f0f;
}

.js-create-btn:hover {
    color: #935431;
}

.js-create-btn:active {
    color: #6b0f0f;
}

.text-update {
    color: red;
}

.text-processing {
    width: 100%;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

.text-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-style {
    width: 100%;
    font-weight: 600;
    font-size: 23px;
}

.text-input-wrp {
    margin: 20px 20px 0 0;
}

.text-input-wrp:last-child {
    margin: 20px 0 0 0;
}

.js-text-update-btn {
    width: 95px;
    height: 78px;
    background-image: url("../img/create-btn.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b0f0f;
}

.js-text-update-btn:hover {
    color: #935431;
}

.js-text-update-btn:active {
    color: #6b0f0f;
}

